<button class="btn btn-secondary" (click)="setDetail(detailType.NORMAL)">Normal</button>
<button class="btn btn-success" (click)="setDetail(detailType.GREEN)">Green</button>
<button class="btn btn-danger" (click)="setDetail(detailType.RED)">Red</button>
<button class="btn btn-primary" (click)="setDetail(detailType.BLUE)">Blue</button>

<ng-container [pcaDynamicDetails]="typeDetail$ | async" [phone]="phone$ | async" (setMainImage)="setImage($event)"
              [mainImageUrl]="mainImageUrl$ | async">
</ng-container>

<!--<ng-container [pcaDynamicDetails]="typeDetail$ | async" [inputsConfig]="detailInputsConfig"-->
              <!--[outputsConfig]="detailOutputsConfig">-->
<!--</ng-container>-->
<!--<pca-detail [phone]="phone$ | async" (setMainImage)="setImage($event)"-->
            <!--[mainImageUrl]="mainImageUrl$ | async"></pca-detail>-->
