<div class="row">
  <div class="col-2">
    <form novalidate="novalidate" [formGroup]="searchForm">
      <p>
        Search:
        <input formControlName="search" />
      </p>

      <p>
        Sort by:
        <select formControlName="order">
          <option value="sortName">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </form>
    <button class="btn btn-primary" (click)="fetchList()">Fetch list</button>
    <span *ngIf="errorMessage" class="text-danger font-weight-bold border-danger border p-3 mt-5 d-block">Error {{errorMessage}}</span>
</div>
  <div class="col-10">
    <ul>
      <li *ngFor="let phone of (list$ | async)" class="thumbnail">
        <a [routerLink]="['detail', phone.id]" class="">
          <img [src]="'assets/' + phone.imageUrl" alt="{{phone.name}}" class="thumb"/>
        </a>
        <a [routerLink]="['detail', phone.id]">{{phone.name}}</a>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  </div>
</div>
